

.container h3{
  text-align: center;
  text-transform: uppercase;
}


/* header start  */

.header{
 background-color: #D32F2E;
}
#header-icon{
  background-color: #D32F2E;

}
#header-icon .fa-user{
color: white;
}
#header-icon .fa-caret-down{
color:  #D5827E;
}
#header-icon b{
  color: #D5827E;
}
#social-icon{
  padding: 0px;
}
#social-icon .fa-facebook{
  color: #D5827E;
}
#social-icon .fa-twitter{
  color: #D5827E;
}
#social-icon .fa-linkedin{
  color: #D5827E;
}
#social-icon .fa-dribbble{
  color: #D5827E;
}

#social-icon .fa-behance{
  color: #D5827E;
}

#social-icon .fa:hover{
 color: green;
}

#header-icon span{
  color: white;
  padding: 9px;
}

/* header end */



/* MENU SECTION */

.menu-black{
  background-color: #343A40;
}

.nav-item a:hover{
 
}


.nav-item a:before {

}

.nav-item {
 
}

/* Style the active class, and buttons on mouse-over */
.active, .nav-item:hover {
border-bottom: 2px solid white;
margin-left: 7px;
}

#ul-menu{
  margin-right: 100px;
}


#collapsibleNavbar .fa-search{
  color: white;
  margin-right: 490px;
}

/*search icon design*/

.box{
 
  width: 400px;
  height: 50px;
}

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  width: 50px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}
 
.container-2:hover input#search{
width: 300px;
}
 
.container-2:hover .icon{
  color: #93a2ad;
}


/*end search icon design*/



/* end MENU SECTION */



/*SLIDER OR IMAGE HEADER  */


#header-text span{

border-bottom:4px solid rgb(211, 47, 46);
}

.black{
  background-color: black;
}


#header-text{
  margin-top: 105px;
}
#header-text h5{
  color: white;
}
#header-text h2{
  color: white;
  font-size: 20pt;
}

#header-text b{
  font-size: 72px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}



#header-text p{
  color: #999999;
}



.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}
.button1 {  
  border-radius: 5px;
  background-color: rgb(211, 47, 46); 
  width: 153px;
  height: 60px;
  text-transform: uppercase;
  } /* Red */ 
.button2 {border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgba(211, 47, 46, 0);
   width: 157px;
  height: 64px;
  margin-left: 10px;
   text-transform: uppercase;
  } /* Red */ 

.button:hover {background-image: linear-gradient(90deg, red, yellow,grey);color: black;font-weight: bold;}
.butn:hover {background-image: linear-gradient(90deg, red, yellow,grey);color: black;font-weight: bold;}
/* end SLIDER OR IMAGE HEADER  */



/* HEADER BOTTOM PART  */



#header-bt-img{
   margin-right: 40px;

}
.image-group{

  margin-top: -70px;
  margin-left:100px;


 
  }

.image-group img{


 width:305px;height: 250px;
  }

  .image-text img:hover{
   opacity: 0.3;
  }

.image-text p {
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
    width:305px;
    margin-left:100px ;
    background: #f44336;

}

.image-text p i{
color:white;
background-color: #DF4241;
padding: 18px 20px; 
}

.business-plan {
   text-decoration: none;
}
.business-plan i{
  margin-left: 27px;
}
.financial-sol i{
   margin-left: 35px;
}

.support i{

margin-left: 115px;
}







/* end HEADER BOTTOM PART  */



/* START ABOUT US  */

#about-text h2{

}
#about-text p{
  
}


.btnaboutus { border-radius: 5px;
  background-color: rgb(211, 47, 46);width: 153px;
  height: 60px;  } /* Red */ 






#id-about{

  background-color: #1a1a1a;

}
#id-about span{

width: 59px;
height: 5px;
border-bottom:3px solid rgb(211, 47, 46);
}



#id-about h2,p{


  
  text-align: justify;
  margin-top: 50px;
  
}

#id-about h2{
   color: white;
  
}
#id-about p{
   color: #999999;
   font-size: 15pt;
  
}
#id-about-right{

  background-color:#1a1a1a;
}
#id-about-right img{

  width: 100%;
  height: 500px;
}

/* end  ABOUT US */



/* SECTION OF FINANCIAL EXPERTS*/



.pic img:hover{
   -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.fa:hover {
    opacity: 0.7;
}
.financial-experts span{
  border-bottom:3px solid rgb(211, 47, 46);
}




.testimonial{
  background-color:#E3E3E3;
  margin-right: 28px;
  width: 330px;
}

.testimonial .pic{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin:20px 70px 20px;

    display: inline-block;
  
     text-align: center;
}

.testimonial .pic img{
    width: 100%;
    height: auto;
    background-image: linear-gradient(#C4C4C4,#D4D4D4,#CBCBCB,#A7A7A7);
   
 
}
.row text-center h2{
  text-align: center;
}
.testimonial-prof{
   text-align: center;
}
.testimonial-prof b p{
   text-align: center;
   color: #D75A57;
}
.testimonial-prof  p{
   text-align: center;
   margin-left: 20px;
   margin-right: 20px;
}

.fafaicon .fa{
  padding: 7px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
background-color: #B8B8B8;
  border-radius: 50%;
  color: black;
}

.fafaicon2 .fa{
   padding: 7px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 
  border-radius: 50%;
  color: white;

}

/* end  SECTION OF FINANCIAL EXPERTS */



/* SECTION OUR STORY */



#section-our-story{
  background-color:#D34343;
}
#ourstory img{
  padding-top: 50px;
}

#ourstory h2{
  color:white;
  text-align: center;
  font-size: 45px;
}
#ourstory h4{
  color:white;
  text-align: center;
  font-size: 14px;
}

/* end  OUR STORY */




/* start Our Projects*/


 .our-projects span{
  border-bottom:3px solid rgb(211, 47, 46);
}
#projects img{
 
}
#projectsimg1 img{
 width: 370px;
  height: 532px;
  border-radius: 5px;
}
#projectsimg1 img:hover{
 opacity: 0.3;
}
#projectsimg2 img{
  width: 270px;
  height: 251px;
  border-radius: 5px;
}
#projectsimg2 img:hover{
 opacity: 0.3;
}
#projectsimg3 img{
 width: 471px;
  height: 251px;
  border-radius: 5px;
}
#projectsimg3 img:hover{
 opacity: 0.3;
}
#projectsimg4 img{
  width: 450px;
  height: 231px;
  border-radius: 5px;
  margin-top: 45px;
}
#projectsimg4 img:hover{
 opacity: 0.3;
}
#projectsimg5 img{
  width: 270px;
  height: 251px;
  border-radius: 5px;
  margin-top: 25px;
}
#projectsimg5 img:hover{
 opacity: 0.3;

}

/* end  Our Projects */


/* start happy clients  */


  .happy-cleints span{
     border-bottom:3px solid rgb(211, 47, 46);

  }
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:red;
  margin-top: 20px;
}
#happyclients{
  background-color:#361D1D;opacity: 0.9; 

}

.form-group input{
  background-color: #0C0C0C;
  border:1px solid  #0C0C0C;
}

.form-group input:hover{
  background-color: #2C2C2C;
  
}
.form-group textarea{
  background-color:  #0C0C0C;
  border:1px solid  #0C0C0C;
}

.form-group textarea:hover{
  background-color: #2C2C2C;
}

.hcimg{
  width:90px;height:90px;
}

.hctext{
margin-top: 35px;margin-left:-120px;color: #AE3131;font-weight: bold;

}
.hctext2{
  padding-top:15px;
}
.happy-cleints{
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}
.name-clients{
  font-size: 16px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.5;
  padding-left: 12px;
}

.free-consulting{
color: white;margin-top: 20px;
}

.free-consulting span{
    border-bottom:3px solid rgb(211, 47, 46);
}
/* end  happy clients  */



/* start LATEST NEWS  */


.img-fluid{

  width: 100%;
  height: auto;
}
.img-fluid:hover{
  opacity: 0.5;
}

.text-center span{
   border-bottom:3px solid rgb(211, 47, 46);
}



.textnews{
   font-size: 15px;
  font-family: "Myriad Pro";
  color: rgb(102, 102, 102);
  line-height: 1.6;
  text-align: justify;
  margin-left: 10px;
  margin-right: 5px;

}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 300px;
    overflow:hidden;
}

.news-text{
  background-color:black;
  color: white;
}

/* end  LATEST NEWS */


/* start partners */

#partners img{
  width:55px;height:50px;
}

#partners b{
  font-size:36px;color: grey;
}


/* end  partners */


/* START SECTION OF FOOTER */

.twitter-posts span{
  border-bottom:3px solid rgb(211, 47, 46);
}
.bf-contact span{
  border-bottom:3px solid rgb(211, 47, 46);
}
.bf-contact {
  margin-top: 20px;
}
#before-footer{
  background-color:#161616;
}

#bf-left img{
  margin-top:30px;
}

#bf-left p{
 color: #999999;
}

.contact{
  color: #999999;
}

.contact i{
  color: red;
}
 
 #bf-center{
  margin-top: 40px;
 }
 #bf-center h3{
  color: white;
 }
 
  #bf-center a{
    color: #999999;
    text-decoration: none;
 }
 #bf-center i{
   color: red;
 }

  #bf-center b{
   color: white;
 }

#bf-right{
  margin-top: 20px;
}

#bf-right h3{
     color: white;
}



.butn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
  
.buttonsend {  
  border-radius: 5px;
  background-color: rgb(211, 47, 46); 
  width: 73px;
  height: 35px;
  text-transform: uppercase;
 
  }

#bf-center span i{

}

.twitter-post{
  color: #999999;
}

.form-group textarea {
  resize: none;
}

/* end  SECTION OF bf-FOOTER */


/* start  FOOTER */

#end-footer{
  background-color: #D32F2E;

}


#end-footer p{
  text-align: center;
  color: white;
  
}



/* end  FOOTER */

/*
#id1{
  
	margin-top: 100px;
	color:white;

}
#id1 h5{

	margin-left:260px;
}
#id1 h2{

	margin-left:260px;
}
#id1 p{

	margin-left:260px;
	color:grey;
}


*/





















