.after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  top: 0;
}

.pink{
 color: $light-pink;
}
.dark-pink{
 color: $pink-dark;
}
.purple{
 color: $bg-purple-soft;
}
.purple-light{
 color: $bg-purple-light;
}
.orange{
 color: $bg-gym-orange;
}
.orange-dark{
 color: $orange-dark;
}
.blue{
 color: $blue;
}
.merun{
 color: $title-color-cont;
}
